
// Specific CSS for your home-page
.card {
  position: relative;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -1;
}

.card:hover::before {
  opacity: 0.5;
}

.titre-homepage {
  font-family: cursive;
}

.fa-star {
  color: #CEA732;
  width: 3px;
}
