

  <footer class="bg-black">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Contact</h6>
          <p class="font-italic text-muted m-0">21, rue Haxo</p>
          <p class="font-italic text-muted m-0">13001 Marseille</p>
          <p class="font-italic text-muted m-0">07 82 40 63 93</p>
          <br>
          <p class="font-italic text-muted">© Billion Bunker Baby, Inc.</p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Services</h6>
          <ul class="list-unstyled mb-0">
            <li class="lien-footer mb-2"> <%= link_to "Login", new_user_session_path %></li>
            <li class="lien-footer mb-2"> <%= link_to "Sign In", new_user_registration_path %></li>
            <li class="lien-footer mb-2"><a href="#" class="text-muted">Homepage</a></li>
            <li class="lien-footer mb-2"><a href="https://www.airbnb.fr/help/article/2908" target="_blank" class="text-muted">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
          <p class="text-muted mb-4">To receive our Newsletter, please suscribe below:</p>
          <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0 m-1">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2019 Bootstrapious All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- End -->

</body> %>
