<h1 class = "fs-2 m-3"> here's our offers !</h1>



 <% @bunkers.each do |bunker| %>
    <%= bunker.title %>
    <li><%= cl_image_tag bunker.photo.key, height: 300, width: 400, crop: :fill %></li>
    <li><%= bunker.description %> </li>
    <li><%= bunker.prix %></li>
 <% end %>
