<strong><h1 class = "titre-homepage text-center mt-4 w-100 p-3" > <i class="fa-solid fa-star"></i>Welcome to our luxury bunkers Billios !</h1></strong>
<div class="banner">
   <div class="background-overlay">
   </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
          <% @bunkers.each do |bunker| %>

              <div class="col-md-4 mb-4">
                <div class="card h-100">
                  <% if bunker.photo.attached? %>
                    <%= cl_image_tag bunker.photo.key, height: 300, width: 400, crop: :fill, class: "img_bunker"%>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"> <%= bunker.description %></h5>
                    <p class="card-text"> <%= bunker.prix.to_i %>$ / Night</p>

                    <%= link_to "CHECK THE OFFER", bunker_path(bunker) %>

                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
</div>
