.navbar-lewagon {
  justify-content: space-between;
  background: #070608;
}
// modif couleur Floriane

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 50px;
  border-radius: 50px;
  border-color: rgb(0, 255, 26);
  border-width: 3px ;
}

// .image_tag{
//   border-radius: 100px;
//   border-color: aqua;
// }
