.navbar-lewagon {
  justify-content: space-between;
  background: #0b0416;
}
// modif couleur Floriane

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 50px;
  border-radius: 50px;
  border-color: #CEA732;
  border-width: 3px ;
}

// .image_tag{
//   border-radius: 100px;
//   border-color: aqua;
// }

.login {
  color: white;
}

.login:hover {
  color: white;
}

.search {
  color: white;
}
